### ignore all ###
*

### not ignore ###
!/.Brewfile
!/config/
/config/*
!/config/Code/
/config/Code/*
!/config/Code/User/
/config/Code/User/*
!/config/Code/User/keybindings.json
!/config/Code/User/settings.json
!/config/git/
!/config/nvim/
/config/nvim/*
!/config/nvim/init.lua
!/config/nvim/lua/
!/config/nvim/plugin/
!/config/nvim/after/
/config/nvim/after/*
!/config/nvim/after/plugin/
!/config/sheldon/
/config/sheldon/*
!/config/sheldon/plugins.toml
!/config/tmux/
/config/tmux/*
!/config/tmux/tmux.conf
!/config/tmux/statusline.conf
!/config/tmux/utility.conf
!/config/tmux/macos.conf
!/config/zeno/
/config/zeno/*
!/config/zeno/config.yml
!/config/zsh/
/config/zsh/*
!/config/zsh/.zshrc
!/config/zsh/.zprofile
!/config/zsh/.zshenv
!/config/zsh/.p10k.zsh
!/config/zsh/sync.zsh
!/config/zsh/rc/
!/scripts/
/scripts/*
!/scripts/common.bash
!/scripts/setup-links.bash
!/setup.sh

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
